.gradient{
    background-image:  linear-gradient(120deg, rgba(239,71,111,1) 45%,rgba(248,134,106,1) 100%);
}

.select{
    border-radius: 15px;
    margin-left: 10px;
    background-color: white;
    border: 2px rgba(239,71,111,1) solid;
    outline:none;
    text-align-last:center
  }

  .select:hover{
    border: 3px rgba(239,71,111,1) solid;
    outline:none;
  }