<div class="site-section" id="section-about">
    <div class="container">
      <div class="row mb-5">

        <div class="col-md-6 ml-auto mb-2 order-md-2" data-aos="fade-up" data-aos-delay="100">
          <img src="../../../assets/img/background/call_back_back.jpg" alt="Image" class="img-fluid" style="width: 1200px;">
        </div>
        <div class="col-md-5 order-md-1" data-aos="fade-up">
          <div class="text-left pb-1 border-primary mb-4">
            <h2>About Us</h2>
          </div>
          <p><strong>Easy pack</strong> is a collaboratibe technology platform that connects <strong>senders</strong> to <strong>delivery men/women</strong>. 
          <strong>Easy pack</strong> empowers <strong>drivers</strong>, improves their efficiency, boosts their earnings and utilization as well as provide job opportunities.
            <strong> Easy pack</strong> also works to reduce costs for <strong>senders</strong>, provide them with a more reliable source of delivery men/women 
             while allowing them to track their shipments  as well as report key insights on their transportation trends and performance.</p>
        </div>
      </div>
    </div>
  </div>
