<div class="header gradient pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header ">
            <span><i class="fas fa-plus-circle fa-2x" (click)="open(mymodal)"></i></span>
            <h3 >Your Vehicles</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Make</th>
                    <th scope="col">Model</th>
                    <th scope="col">Color</th>
                    <th scope="col">License Plate</th>
                    <th scope="col">Register Number</th>
                    <th scope="col">Edit</th>
                  </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let car of vehicles; let index = index">
                      <th scope="row">
                        <div class="media align-items-center">
                          <div class="media-body">
                            <span class="mb-0 text-sm" >{{car.type}}</span>
                          </div>
                        </div>
                      </th>
                      <td>
                        <span class="mb-0 text-sm">{{car.make}}</span>
                      </td>
                      <td>
                        <div class="media-body">
                          <span class="mb-0 text-sm">{{car.model}}</span>
                        </div>
                      </td>
                      <td>
                        <span class="mb-0 text-sm">{{car.color}}</span>
                      </td>
                      <td>
                        <span class="mb-0 text-sm">{{car.license_plate}}</span>
                      </td>
                      <td>
                        <span class="mb-0 text-sm">{{car.reg_number}}</span>
                      </td>
                      <td>
                        <i class="fas fa-edit fa-2x" aria-hidden="true" (click)="open(mymodal, index)"></i>
                      </td>
                    </tr>
                </tbody>
              </table>
          </div>
          <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Vehicle</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">

        <form  [formGroup] ="newVehicle" (ngSubmit)="onSubmit()">
            <div class="row form-group">
              <div class="col-7">
                <h4>Type of Vehicle: </h4>
              </div>
              <div class="col-5">
                <select name="type" class="custom-select mb-3" formControlName = "type">
                  <option selected>type</option>
                  <option value="Bicycle" >Bicycle</option>
                  <option value="Scooter">Scooter</option>
                  <option value="Car">Car</option>
                  <option value="Truck">Truck</option>
                </select>
              </div>
            </div>
            <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <input class="form-control" formControlName = "make" placeholder="Make" type="text" name="make">
                </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <input class="form-control" formControlName = "model" placeholder="Model" type="text" name="model">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <input class="form-control" formControlName = "color" placeholder="Color" type="text" name="color">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <input class="form-control" formControlName = "license_plate" placeholder="License Plate" type="text" name="license_plate">
              </div>
            </div>
            <div class="form-group">
                <div class="input-group input-group-alternative">
                  <input class="form-control" formControlName = "reg_number" placeholder="Register Number" type="text" name="register_Number">
                </div>
            </div>
            
            <div class="text-center">
              <button  class="btn btn-confirm mt-4" type="submit">Confirm</button>
            </div>
          </form>

    </div>

  </ng-template>
  
  