.gradient{
    background-image: linear-gradient(120deg, #79da9c 0%, #02aa86 100%);
}

.fa-edit{
    color: #02aa86;
}

.fa-edit:hover{
    color: #115042;
    cursor: pointer;
}

.fa-plus-circle{
    float: right;
    color: rgba(239,71,111,1)
}

.fa-plus-circle:hover{
    color: #115042;
    cursor: pointer;
}

.btn-confirm{
    background-color: rgba(239,71,111,1) ;
    color: white;
}

.btn-confirm:hover{
    background-color: transparent ;
    color: rgba(239,71,111,1);
    border: rgba(239,71,111,1) 3px solid;
}