.btn-confirm{
    background-color: rgb(230, 53, 22);
    color: white;
}
.btn-confirm:hover{
    background-color: white;
    color:  rgb(230, 53, 22);
    border: 2px solid rgb(230, 53, 22);
}

.gradient{
    background-image:  linear-gradient(120deg, rgba(239,71,111,1) 45%,rgba(248,134,106,1) 100%);
}