

<div class="header bg-gradient-danger py-7 py-lg-8">
    <div class="container">
      <div class="header-body text-center mb-7">

      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <!-- Table -->
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="card bg-secondary shadow border-0">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <h1>Send Package</h1>
            </div>
            <form role="form">
              <div class="row form-group">
                <div class="col-7">
                  <h4>Package Dimensions: </h4>
                </div>
                <div class="col-5">
                  <select name="size" class="custom-select mb-3">
                    <option selected>Size</option>
                    <option value="s" >S (35x25x3 cm)</option>
                    <option value="m">M (50x50x35 cm)</option>
                    <option value="l">L (80x50x35 cm)</option>
                    <option value="xl">XL (120x60x60 cm)</option>

                  </select>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-7">
                  <h4>Package Weight in kg: </h4>
                </div>
                <div class="col-5">
                  <select name="size" class="custom-select mb-3">
                    <option selected>Weight</option>
                    <option value="s" >Under 1kg</option>
                    <option value="m">1-2 kg</option>
                    <option value="l">2-5 kg</option>
                    <option value="xl">5-10 kg</option>
                    <option value="xl">10-15 kg</option>
                    <option value="xl">15+ kg</option>

                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <input class="form-control" placeholder="Comments concerning the Package" type="email">
                </div>
              </div>
              <div class="form-group">
                <label>From:</label>
                <div class="input-group input-group-alternative">
                  <input class="form-control" placeholder="Address" type="password">
                </div>
              </div>
              <div class="form-group">
                <label>to:</label>
                <div class="input-group input-group-alternative">
                  <input class="form-control" placeholder="Address" type="password">
                </div>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-primary mt-4">Create account</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
