.btn-confirm {
  background-color: rgba(239, 71, 111, 1);
  color: white;
}

.btn-confirm:hover {
  background-color: white;
  color: rgba(239, 71, 111, 1);
  border: 2px solid rgba(239, 71, 111, 1);
}

.btn-confirm-map{
  background-color: #02aa86;
  color: white;
  font-weight: 900;
}

.btn-confirm-map:hover{
  background-color: transparent;
  color: #02aa86;
  border: 2px solid #02aa86;
  font-weight: 900;
}

.button-ship{
  background-image: linear-gradient(120deg, #02aa86 45%, #79da9c 100%);
  cursor: pointer;
  text-align: center;
  caret-color: transparent;
}



.button-ship::placeholder{
  color: white;
  font-size: larger;
  font-weight: bold;
}

/* .myCustomModalClass .modal-dialog {
  max-width: 965px;
} */
.row {
  margin-bottom: 10px;
}

.btn-confirm:hover {
  background-color: white;
  color: rgb(230, 53, 22);
  border: 2px solid rgb(230, 53, 22);
}

.gradient {
  background-image: linear-gradient(120deg, rgba(239, 71, 111, 1) 45%, rgba(248, 134, 106, 1) 100%);
}
