<nav class="navbar navbar-vertical navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
      <a class="navbar-brand pt-0 " routerLinkActive="active" [routerLink]="['/dashboard']">
        <h1 class='logo'>Easy-Pack</h1>
      </a>
        <!-- Navigation -->
        <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">
            <ul class="navbar-nav">
                <li *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
                    <a routerLinkActive="active" [routerLink]="['/user/', menuItem.path]" class="nav-link">
                        <i class="ni {{menuItem.icon}}"></i>
                        {{menuItem.title}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
