<div
  class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="
    min-height: 25vh;
    background-image: url(https://image.freepik.com/free-vector/order-delivery-service-online-background_73174-203.jpg);
    background-size: cover;
    background-position: center top;
  "
>
  <!-- Mask -->
  <span class="mask gradient opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg col-md">
        <h1 id="hello" class="display-2 text-white">
          Hello {{ data.first_name }}
        </h1>
        <div id="availabilityState" [style.background-color]="stateColor"></div>
        <a class="btn btn-info" [hidden]="!disableEdit" (click)="allowEdit()"
          >Edit profile</a
        >
        <a class="btn btn-info" [hidden]="disableEdit" (click)="open(mymodal)"
          >Save Changes</a
        >
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img
                  src ="http://localhost:8080/{{data.photo}}"
                  class="rounded-circle"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between"></div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div
                class="card-profile-stats d-flex justify-content-center mt-md-5"
              >
                <div class="col-lg-7 col-md-10">
                  <button
                    class="btn btn-primary"
                    id="changePhotoButton"
                    type="button"
                    data-toggle="modal"
                    data-target="#exampleModal"
                    (click)="open(mymodal)"
                  >
                    <i class="fa fa-fw fa-camera"></i>
                    <span>Change Photo</span>
                  </button>
                  <br />
                  <div class="rating">
                    <span *ngFor="let i of rate">☆</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              {{ data.first_name + " " + data.last_name
              }}<span class="font-weight-light">, 27</span>
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>User
            </div>
            <div class="h5 mt-4">
              <button
                class="btn btn-primary"
                id="changePhotoButton"
                type="button"
                (click)="openDialog()"
              >
                <i class="fa fa-fw fa-camera"></i>
                <span>Change Password</span>
              </button>
            </div>
            <div><i class="ni education_hat mr-2"></i>***</div>
            <hr class="my-4" />
            <p>
              **************
            </p>
            <a href="javascript:void(0)">Vehicules</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">My account</h3>
            </div>
            <div class="col-4 text-right">
              <a
                href="#!"
                class="btn btn-sm btn-primary"
                [style.background-color]="stateColor"
                >{{ data.state }}</a
              >
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-------------form -------------------->
          <form
            class="formGroup"
            [formGroup]="UserForm"
            (ngSubmit)="updateUser()"
            novalidate=""
            id="ngForm"
          >
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name"
                      >First name</label
                    >
                    <input
                      type="text"
                      id="input-first-name"
                      class="form-control form-control-alternative"
                      placeholder="First name"
                      formControlName="first_name"
                      value="{{ data.first_name }}"
                      [readonly]="disableEdit"
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name"
                      >Last name</label
                    >
                    <input
                      type="text"
                      id="input-last-name"
                      class="form-control form-control-alternative"
                      placeholder="Last name"
                      formControlName="last_name"
                      [readonly]="disableEdit"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email"
                      >Email address</label
                    >
                    <input
                      type="email"
                      id="input-email"
                      class="form-control form-control-alternative"
                      placeholder="jesse@example.com"
                      formControlName="email"
                      value="{{ data.email }}"
                      [readonly]="disableEdit"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email"
                      >Birth Date</label
                    >
                    <input
                      type="date"
                      id="input-email"
                      class="form-control form-control-alternative"
                      placeholder="jesse@example.com"
                      formControlName="birth_date"
                      value="{{ data.birth_date }}"
                      [readonly]="disableEdit"
                    />
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Contact information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address"
                      >Address</label
                    >
                    <input
                      id="input-address"
                      class="form-control form-control-alternative"
                      formControlName="adress"
                      placeholder="Home Address"
                      type="text"
                      value="{{ data.adress }}"
                      [readonly]="disableEdit"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-phone"
                      >Phone</label
                    >
                    <input
                      id="input-phone"
                      class="form-control form-control-alternative"
                      formControlName="phone"
                      placeholder="Phone Number"
                      type="text"
                      value="{{ data.phone }}"
                      [readonly]="disableEdit"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label>Gender</label>
                  <div class="custom-controls-stacked px-2">
                    <div class="custom-control custom-radio">
                      <input
                        (change)="updateGender($event)"
                        type="radio"
                        class="custom-control-input"
                        id="notifications-blog"
                        checked=""
                        formControlName="gender"
                        value="male"
                      />
                      <label
                        class="custom-control-label"
                        for="notifications-blog"
                        >Male</label
                      >
                    </div>
                    <div class="custom-control custom-radio">
                      <input
                        type="radio"
                        class="custom-control-input"
                        id="notifications-news"
                        (change)="updateGender($event)"
                        checked=""
                        formControlName="gender"
                        value="female"
                      />
                      <label
                        class="custom-control-label"
                        for="notifications-news"
                        >Female</label
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="row"></div>
            </div>
            <hr class="my-4" />
            <!-- Description -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!------------------------------------------------------------------------------------------------------------->
<!-- <h1>Angular 8 Bootstrap Modal Popup Example</h1>

<button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)">Open My Modal</button> -->

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    This is example from ItSolutionStuff.com
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="updateUser(); modal.close('Save click')"
    >
      Ok
    </button>
  </div>
</ng-template>
