input:read-only {
  color: black;
  background-color: white;
}

.gradient {
  background-image: linear-gradient(120deg, #02aa86 45%, #79da9c 100%);
}

.btn-pass {
  background-image: linear-gradient(120deg, #02aa86 45%, #2dc5a4 100%);
  color: white;
}

.btn-photo {
  background-image: linear-gradient(120deg, rgba(239, 71, 111, 1) 45%, rgba(248, 134, 106, 1) 100%);
  color: white;
}

.veh {
  text-decoration: none;
  color: rgba(239, 71, 111, 1) !important;
}

.veh:hover {
  text-decoration: none;
  color: rgb(255, 31, 84) !important;
  font-size: large;
}

#hello {
  display: inline-block;
}

.btn-edit-save {
  background-color: #EF476F;
  color: aliceblue !important;
  border-radius: 15px;
}

.cdk-overlay-container {
  z-index: 9999 !important;
}


#availabilityState {
  display: inline-block;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

.rating>span {
  color: gold;
  content: "\2605";
  font-size: 30px;
  font-weight: bold;
}

#stateButton {
  color: white;
}

.btn-edit-save {
  background-image: linear-gradient(120deg, rgba(239, 71, 111, 1) 45%, rgba(248, 134, 106, 1) 100%);
  color: white !important;
  font-weight: 1200;
  border-radius: 15px;
}

.btn-edit-save:hover {
  color: white !important;
  font-weight: 1200;
  border-radius: 15px;
  border: white 3px solid;
}
