<div class="site-section bg-image overlay" style="background-image: url('../../../assets/images/background/hows.jpg');" id="section-how-it-works">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center border-primary">
          <h2 class="font-weight-light " style="color: #EF476F;" data-aos="fade">How It Works</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
          <div class="how-it-work-item">
            <span class="number">1</span>
            <div class="how-it-work-body">
              <h2>Make An Order</h2>
              <p class="mb-5">Signup if you do not have an account or just Login if you do. Go to add transaction and fill the transaction form information</p>
              <ul class=" list-unstyled success">
                <li class="text-white"><i class="fas fa-check"></i>Simple use</li>
                <li class="text-white"><i class="fas fa-check"></i>No need to go to your transporter</li>
                <li class="text-white"><i class="fas fa-check"></i>No more hassle with phone calls </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
          <div class="how-it-work-item">
            <span class="number">2</span>
            <div class="how-it-work-body">
              <h2>Make A Payment</h2>
              <p class="mb-5">Proceed to the payment securely. you just have to fill your payments information and Easy pack will pay the delivery men/women after the transaction is completed</p>
              <ul class=" list-unstyled success">
                <li class="text-white"><i class="fas fa-check"></i>Secure interface</li>
                <li class="text-white"><i class="fas fa-check"></i>Easy to use</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="300">
          <div class="how-it-work-item">
            <span class="number">3</span>
            <div class="how-it-work-body">
              <h2>Track Your Order</h2>
              <p class="mb-5">finally, just relax and track your order from the Easy pack tracking Interface</p>
              <ul class=" list-unstyled success">
                <li class="text-white"><i class="fas fa-check"></i>See if your package id delivered</li>
                <li class="text-white"><i class="fas fa-check"></i>Track all of your transactions</li>
                <li class="text-white"><i class="fas fa-check"></i>Rate your delivery men/women</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
