<div class="site-section bg-image overlay" style="background-image: url('../../../assets/images/background/hows.jpg');" id="section-how-it-works">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center border-primary">
          <h2 class="font-weight-light " style="color: #EF476F;" data-aos="fade">How It Works</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
          <div class="how-it-work-item">
            <span class="number">1</span>
            <div class="how-it-work-body">
              <h2>Make An Order</h2>
              <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt praesentium dicta consectetur fuga neque fugit a at. Cum quod vero assumenda iusto.</p>
              <ul class=" list-unstyled success">
                <li class="text-white"><i class="fas fa-check"></i>Error minus sint nobis dolor</li>
                <li class="text-white"><i class="fas fa-check"></i>Voluptatum porro expedita labore esse</li>
                <li class="text-white"><i class="fas fa-check"></i>Voluptas unde sit pariatur earum</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
          <div class="how-it-work-item">
            <span class="number">2</span>
            <div class="how-it-work-body">
              <h2>Make A Payment</h2>
              <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt praesentium dicta consectetur fuga neque fugit a at. Cum quod vero assumenda iusto.</p>
              <ul class=" list-unstyled success">
                <li class="text-white"><i class="fas fa-check"></i>Error minus sint nobis dolor</li>
                <li class="text-white"><i class="fas fa-check"></i>Voluptatum porro expedita labore esse</li>
                <li class="text-white"><i class="fas fa-check"></i>Voluptas unde sit pariatur earum</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="300">
          <div class="how-it-work-item">
            <span class="number">3</span>
            <div class="how-it-work-body">
              <h2>Track Your Order</h2>
              <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt praesentium dicta consectetur fuga neque fugit a at. Cum quod vero assumenda iusto.</p>
              <ul class=" list-unstyled success">
                <li class="text-white"><i class="fas fa-check"></i>Error minus sint nobis dolor</li>
                <li class="text-white"><i class="fas fa-check"></i>Voluptatum porro expedita labore esse</li>
                <li class="text-white"><i class="fas fa-check"></i>Voluptas unde sit pariatur earum</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
