<div class="header gradient pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0"><i class="ni ni-notification-70 text-success">  </i>        Announcement  </h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Driver</th>
                <th scope="col">From</th>
                <th scope="col">Destination</th>
                <th scope="col">Date</th>
                <th scope="col">State</th>
                <th scope="col">Price</th>
                <th scope="col">Add</th>
              </tr>
            </thead>
            <tbody >
                <tr *ngFor="let tr of transactions; let index = index">
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm" *ngIf="tr.driverId; else noDriver">{{tr.id}}</span>
                        <ng-template #noDriver>
                          <span class="mb-0 text-sm" >No Driver</span>
                        </ng-template>
                      </div>
                    </div>
                  </th>
                  <td>
                    <span class="mb-0 text-sm">{{tr.address_start}}</span>
                  </td>
                  <td>
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{tr.address_destination}}</span>
                    </div>
                  </td>
                  <td>
                    <span class="mb-0 text-sm">{{tr.request_date | date}} , {{ tr.request_time}}</span>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="badge badge-dot mr-4">
                        <i class="bg-warning"></i>{{tr.state}}
                      </span>
                    </div>
                  </td>
                  <td>
                    <span class="mb-0 text-sm">{{tr.price}} dt</span>
                  </td>
                  <td>
                    <i class="fa fa-plus-circle fa-2x" aria-hidden="true" (click)="open(mymodal, index)"></i>
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">

        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #mymodal let-modal >
  <div class="modal-header">
    <h1 class="modal-title" id="modal-basic-title"><i class="ni ni-notification-70 text-success">  </i>     Transaction Summary</h1>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <hr class="my-4" />
    <app-map [transaction]="transaction"></app-map>
    <hr class="my-4" />
    <ul >
      <li> <strong>Picking address :  </strong>  {{transaction.address_start}}</li>
      <li> <strong>Picking city :  </strong>  {{transaction.city_start}}</li>
      <li> <strong>Shipping address :  </strong>  {{transaction.address_destination}}</li>
      <li> <strong>Picking city :  </strong>  {{transaction.city_destination}}</li>
      <li> <strong>Picking Date :  </strong>  {{transaction.request_date | date}}</li>
      <li> <strong>Picking time :  </strong>  {{transaction.request_time}}</li>
      <li> <strong>Package size :  </strong>  {{transaction.package_dimension}}</li>
      <li> <strong>Package weight :  </strong>  {{transaction.package_weight}}</li>
      <li> <strong>Package comments :  </strong>  {{transaction.package_comments}}</li>
    </ul>

  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-success"
      (click)="confirmDelivrery(); modal.close('Save click')"
    >
      Confirm
    </button>
  </div>
</ng-template>

