.btn-confirm {
  background-color: rgba(239, 71, 111, 1);
  color: white;
}

.btn-confirm:hover {
  background-color: white;
  color: rgba(239, 71, 111, 1);
  border: 2px solid rgba(239, 71, 111, 1);
}

/* .myCustomModalClass .modal-dialog {
  max-width: 965px;
} */
.row {
  margin-bottom: 10px;
}
