.bg-image1 {
    background-image: url('../../../../assets/images/background/red.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
  }

  .login{
    min-height: 100vh;
  }

  .custom-control-label, .signupa{
    color: #b3b3b3;
  }
  
  .custom-control-label:before{
    background-color:#b3b3b3;
  }
  .custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color:#EF476F;
    border: #EF476F 1px solid;
  }

  .btn-sign{
    background-color: #EF476F;
    color: white;
    border-radius: 30rem 30rem 30rem 30rem;
    border: none;
  }
  
  .btn-sign:hover{
    background-color: rgb(196, 54, 82);
    color: #FFFCF9;
    border-radius: 30rem 30rem 30rem 30rem;
    border: none;
  }
  .h1log{
    font-size: xx-large;
    color: white;
    font-weight: bold;
  }

  input.form-control {
    border-radius: 30rem 30rem 30rem 30rem;
    border: none;
  }
  
  .input-group-text {
    border-radius: 0 30rem 30rem 0;
    border: none;
  }